rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isOwner() {
      return request.auth != null
        && request.auth.token.email != null
        && request.auth.token.email == "replace-with-your-owner-email@example.com";
    }

    match /orders/{orderId} {
      allow create: if request.resource.data.id == orderId;
      allow read, update, delete: if isOwner();
    }
  }
}
